<h2>This is your last chance, are you sure? Once deleted the gif can not be retrieved.</h2><br />

<strong><%= button_to 'Yes, I want to delete this gif', image_path, :method => :delete, data: { confirm: 'Are you really really sure you want to delete?' }%></strong>

<p>

